<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>UserServletAll</display-name>
    <servlet-name>UserServletAll</servlet-name>
    <servlet-class>com.tinkudhaba.backend.SERVLET.UserServletAll</servlet-class>
  </servlet>
  <display-name>TeamHub_Manager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.tinkudhaba.backend.SERVLET.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>text</display-name>
    <servlet-name>text</servlet-name>
    <servlet-class>com.tinkudhaba.backend.SERVLET.text</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>text</servlet-name>
    <url-pattern>/text</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.tinkudhaba.backend.SERVLET.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>